<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <title>pybook /로그인</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>
  <body class="text-center">
    <form class="form-signin" , action="" , method="POST">
      {% csrf_token %}
      <a href="/" class="signin-header">PYbook</a>
      <h1 class="h3 mb-3 font-weight-normal">change password</h1>
      <label for="inputPassword" class="sr-only">OriginPassword</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="OriginPassword"
        name="OriginPassword"
        required
      />
      <label for="inputPassword" class="sr-only">Password1</label>
      <input
        type="password"
        id="inputPassword"
        name="setPassword1"
        class="form-control"
        placeholder="setPassword1"
        required
      />
      <label for="inputPassword" class="sr-only">Password1</label>
      <input
        type="password"
        id="inputPassword"
        name="setPassword2"
        class="form-control"
        placeholder="setPassword2"
        required
      />

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        비밀번호 변경
      </button>
      <p class="mt-5 mb-3 text-muted">PYbook &copy; 2020</p>
    </form>
  </body>
</html>
