<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <title>pybook /회원가입</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
    <body class="text-center">
      <div class="form-signin">
        <p>{{info}}</p>
        {% if b%}
        <a href="/auth/login" class="btn btn-lg btn-primary btn-block"
          >로그인</a
        >
        {% else %}
        <a href="/auth/join" class="btn btn-lg btn-primary btn-block"
          >회원가입</a
        >
        {% endif %}
        <p class="mt-5 mb-3 text-muted">PYbook &copy; 2020</p>
      </div>
    </body>
  </head>
</html>
