<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>네이버 책/유저정보</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="join_header"><a href="/" class="naver_span">Naver</a></div>
<div class="userDetail_container">
  {{email}}님 안녕하세요!
  <form action="" method="POST">
    {% csrf_token %}
      <input type="submit",name="제출",value=user>
  </form>
   <a href="/auth/change_password">비밀번호 변경하기</a>
   <a href="/auth/logout">로그아웃</a>
</div>
<div class="footer">
    <span id="footer_text"><a href="/" class="naver_span">Naver<a>&copy; 2020</span>
</div>
</body>