{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>PYbook</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="{% static 'css/starter-template.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bookDetail.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-light fixed-top navbar-expand-md"
      style="background-color: #1f8ce6;"
    >
      <a class="navbar-brand" href="/">PYbook</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/auth/me"
              >프로필 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/auth/logout"
              >로그아웃 <span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/auth/login"
              >로그인 <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >카테고리</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          action="/search"
          method="GET"
          name="searching"
        >
          <input
            class="form-control mr-sm-2"
            type="text"
            name="searching"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-info" type="submit" ">
            검색
          </button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
       <div class="container book_container">
         <div class="">
        <img src="{{book_detail.image.url}}" class="card-img-top" alt="..." style="width: 200px; height: 310px !important; "/>
      </div>
      <div class="book_info">
        <p>{{book_detail.genre}}</p>
        <h1 class="bookTitle">{{book_detail.name}}</h1>
        <p>{{book_detail.grade}}</p>
        <p class="book_author">{{book_detail.author}} 저</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          구독하기
        </button>
      </div>


       </div>
       <div class="book_title_introduce">책 소개</div>
       <div class="book_description">
         <p>{{book_detail.description}}</p>
 
       </div>
       <div class="book_title_introduce">저자 소개</div>
       <div class="book_description">
         <p>{{book_detail.author_description}}</p>
 
       </div>
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">{{ comment_form }}</div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </main>
    <footer class="footer">
      <span class="footer_text">PYbook &copy;</span>
    </footer>
  </body>
</html>