{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>PYbook</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous" /s>
    <link rel="stylesheet" href="{% static 'css/starter-template.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bookDetail.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-light fixed-top navbar-expand-md"
      style="background-color: #1f8ce6;"
    >
      <a class="navbar-brand" href="/">PYbook</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/auth/me"
              >프로필 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/auth/logout"
              >로그아웃 <span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/auth/login"
              >로그인 <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >카테고리</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          action="/search"
          method="GET"
          name="searching"
        >
          <input
            class="form-control mr-sm-2"
            type="text"
            name="searching"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-info" type="submit" ">
            검색
          </button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
       <div class="container book_container">
         <div class="">
        <img src="{{book_detail.image.url}}" class="card-img-top" alt="..." style="width: 200px; height: 310px !important; "/>
      </div>
      <div class="book_info">
        <p>{{book_detail.genre}}</p>
        <h1 class="bookTitle">{{book_detail.name}}</h1>
      <div><span class='star-rating' style="background: url({% static 'image/star.png' %}) no-repeat;">
          <span style="background: url({% static 'image/star.png' %}) no-repeat; width:{{grade}}%;   background-position: left bottom;
          line-height: 0;
          vertical-align: top;"></span>
          </span> {{book_detail.grade}} ({{book_detail.grade_users.count}})</div>
        <p class="book_author" style="margin-top: 20px;">{{book_detail.author}} 저</p>
        {% if user in book_detail.subscribe_users.all %}
        <a href="/subscribe/{{book_detail.id}}" class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:brown;">
          대여중
        </a>
        {% else %}
        <a href="/subscribe/{{book_detail.id}}" class="btn btn-lg btn-primary btn-block" type="submit">
          대여하기
        </a>
        {% endif %}
      </div>


       </div>
       <div class="book_title_introduce">책 소개</div>
       <div class="book_description">
         <p>{{book_detail.description}}</p>
 
       </div>
       <div class="book_title_introduce">저자 소개</div>
       <div class="book_description" style="margin-bottom: 40px;">
         <p>{{book_detail.author_description}}</p>
 
       </div>
       <h3>평점하기</h3>
       <form action="/grade/{{book_detail.id}}" method="POST">
            {% csrf_token %}
            <input type="number" class="form-control" min="0" max="10" placeholder="점수 적어주세요.." style="width: 250px; margin-bottom: 15px;" name="number" >
        <button type="submit" class="btn btn-primary">제출</button>
        

    </form>
      <div class="card my-4">
        <h5 class="card-header">댓글 쓰기:</h5>
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">{{ comment_form }}</div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="list-group" style="margin-top: 15px;">
              {% for comment in comments%}
              {% if user.email == comment.author.email %}
              <div class=""></div>
              <li class="list-group-item">
                <p style="font-weight: 600;">{{comment.author.email}}</p>
                <p>{{comment.comment_textfield}}</p> 
                <p style="font-size: 13px; opacity: 0.8;">{{comment.comment_date}}</p>
                <a href="/delete/{{book_detail.id}}/{{comment.id}}" class="btn btn-lg btn-primary btn-block" style="width: 30px; height: 20px; font-size: 5px; display: flex;
                justify-content: center;
                padding: 0;
                ">삭제</a>
                <div class=""> <a href="/like/{{comment.id}}"> 
                  {% if user in comment.like_users.all %}
                   <a href="/like/{{book_detail.id}}/{{comment.id}}"><i class="fas fa-heart" style="color:#FF0000"></i></a>
                  {% else %}
                  <a href="/like/{{book_detail.id}}/{{comment.id}}"><i class="far fa-heart" ></i></a>
                  {% endif %}
                </a> {{ comment.like_users.count }}</div>
              </li>
              {% else %}
              <div class=""></div>
              <li class="list-group-item">
                <p style="font-weight: 600;">{{comment.author.email}}</p>
                <p>{{comment.comment_textfield}}</p> 
                <p style="font-size: 13px; opacity: 0.8;">{{comment.comment_date}}</p>
                <div class=""> <a href="/like/{{comment.id}}"> 
                  {% if user in comment.like_users.all %}
                   <a href="/like/{{book_detail.id}}/{{comment.id}}"><i class="fas fa-heart" style="color:#FF0000"></i></a>
                  {% else %}
                  <a href="/like/{{book_detail.id}}/{{comment.id}}"><i class="far fa-heart" ></i></a>
                  {% endif %}
                </a> {{ comment.like_users.count }}</div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            
    
            
        </div>
    </div>
    </main>
    <footer class="footer">
      <span class="footer_text">PYbook &copy;</span>
    </footer>
  </body>
</html>