.book_container {
  margin-top: 30px;
  display: flex;
}

.bookTitle {
  font-weight: 800;
}
.book_info {
  margin-left: 20px;
}
.book_author {
  font-weight: 600;
  margin-bottom: 80px;
}
.book_description {
  margin: 20px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}
.book_title_introduce {
  margin: 20px;
  font-weight: 600;
  font-size: 35px;
}
.star-rating {
  width: 205px;
}
.star-rating,
.star-rating span {
  display: inline-block;
  height: 39px;
  overflow: hidden;
}
